<h1>Data Science Tools and Ecosystem</h1>

<p>In this notebook, Data Science Tools and Ecosystem are summarized. I am following the Skills Network instructions from IBM.</p>

<p><b>Objectives:<b></p>
<ul>
    <li>Create a table with the Data Science tools used all over the world.</li>
    <li>List the libraries most Data Scientists use.</li>
    <li>List popular languages for Data Science.</li>
    <li>Write code showing how arithmetic works in a jupyter notebook.</li>
</ul>

<p>Some of the popular languages that Data Scientists use are:</p>
<ol>
    <li>R language</li>
    <li>Python</li>
    <li>SQL</li>
    <li>Scala</li>
</ol>

<p>Some of the commonly used libraries used by Data Scientists include:</p>
<ol>
    <li>Matplotlib</li>
    <li>NumPy</li>
    <li>Pandas</li>
    <li>Seaborn</li>
</ol>

<table>
    <tr>
        <th>Data Science Tools</th>
    </tr>
    <tr>
        <td>Jupyter Notebooks</td>
    </tr>
    <tr>
        <td>Visual Studio Code</td>
    </tr>
    <tr>
        <td>RStudio</td>
    </tr>
</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [1]:
# Explanation: this a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# Calculus: this will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

<h2>Author</h2>
<p>Luciano Nieves - 2024-03-28 - Argentina</p>